* {
  box-sizing: border-box;
}

img {
  position: relative;
  display: block;
  max-width: 100%;
}

body {
  margin: 0;
  background-color: #F2EAE2 ;
}

.main {
  padding: 1.75rem 1rem;
}

.card {
  background-color: white;
  border-radius: 0.625rem;
}

@media screen and (min-width: 768px) {
  .card {
    background-color: white;
    border-radius: 0.625rem;
    width: 37.5rem;
    height: 28.125rem;
  }
}

.card-image {
  border-radius: 0.5rem 0.5rem 0 0;
}

@media screen and (min-width: 768px) {
  .card-image {
    position: relative;
    border-radius: 0.5rem 0 0 0.5rem;
    width:18.75rem ;
    height: 28.125rem;
  }
}

.card-info {
  padding: 1.5rem;
}

@media screen and (min-width:768px) {
  .card-info {
    position: absolute;
    top:1.75rem;
    left: 19.75rem;
    padding: 1.5rem;
    width: 18.75rem;
    height: 28.125rem;
  }
}

.subtitle {
  margin-block: 0;
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
  color: #6c7289;
  letter-spacing: 0.3125rem;
}

@media screen and (min-width:768px) {
  .subtitle {
    margin-block: 0;
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
    font-family: "Montserrat", sans-serif;
    color: #6c7289;
    letter-spacing: 0.3125rem;
  
  }
}

.title {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2rem;
}

.description {
  font-family: "Montserrat", sans-serif;
  color: #6c7289;
  font-size: 0.875rem;
  line-height: 1.4375rem;
}

@media screen and (min-width: 768px) {
  .description {
    font-family: "Montserrat", sans-serif;
    color: #6c7289;
    font-size: 0.875rem;
    line-height: 1.4375rem;
    width:14.8125rem ;
    height: 5.75rem;
    margin-bottom: 1.25rem;
  }
}
.price {
  position: relative;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: #3d8168;
}

.price::after {
  position: absolute;
  top: 0.7rem;
  left: 9.75rem;
  content: attr(data-discount);
  font-family: "Montserrat", sans-serif;
  color: #6c7289;
  font-size: 0.8125rem;
  text-decoration: line-through;
}

@media screen and (min-width: 768px) {
  .price::after {
    position: absolute;
    top: 0.875rem;
    left: 9.75rem;
    content: attr(data-discount);
    font-family: "Montserrat", sans-serif;
    color: #6c7289;
    font-size: 0.8125rem;
    text-decoration: line-through;
  }
  
}
.button {
  position: relative;
  display: block;
  background-color: #3d8168;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  color: white;
  padding-block: 0.9375rem;
  text-align: center;
  border-radius: 0.5rem;
  text-decoration: none;
}

@media screen and (min-width:768px) {
  .button {
    position: relative;
    display: block;
    background-color: #3d8168;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    color: white;
    padding-block: 0.9375rem;
    text-align: center;
    border-radius: 0.5rem;
    text-decoration: none;
    margin-top: 1.25rem;
  } 
  
}

.icon {
  position: absolute;
  left: 5.125rem;
}

@media screen and (min-width:768px) {
  .icon {
    position: absolute;
    left: 3.75rem;
  }
  
}



